/config/*
!config/README.md
!config/*.example.php
# .gitignore
/assets/images/supports/
test_mail_fallback.php
vendor/
composer.lock
!assets/vendor/
!assets/vendor/css/
!assets/vendor/css/core.min.css
!assets/vendor/css/theme-default.min.css
!assets/vendor/fonts/
!assets/vendor/fonts/boxicons.min.css
!assets/vendor/libs/
!assets/vendor/libs/perfect-scrollbar/
!assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.min.css
!assets/vendor/js/
!assets/vendor/js/helpers.min.js
!assets/vendor/js/menu.min.js
!assets/vendor/libs/jquery/
!assets/vendor/libs/jquery/jquery.min.js
!assets/vendor/libs/popper/
!assets/vendor/libs/popper/popper.min.js
!assets/vendor/js/bootstrap.min.js
!assets/vendor/libs/apex-charts/
!assets/vendor/libs/apex-charts/apexcharts.min.js
